* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

header .logo {
    height: 120px;
    margin: 50px 0px 50px 20px;
}

.content, form {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    color: #2a2a2a;
    font-family: "Open Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px;
    padding: 40px 127.5px 0px 127.5px;  

}


.content .txt-field label, a {
    color: #717171;
    font-family: "Open Sans";
    font-style: normal;
}

.content form .txt-field {
    border-bottom: 2px solid #d0cbcb;
    margin: 50px 20px 0px 20px;
    position: relative;
    width: 510px;
}


.content form .txt-field input {
    background: none;
    border: none;
    color: #1e1e1e;
    font-family: "Open Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    outline: none;
    padding: 0px 5px 0px 5px;
    width: 100%;
}

.content form .txt-field label{
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    left: 5px;
    pointer-events: none;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    transition: 0.3s;
}


.content form .txt-field span::before{
    background: linear-gradient(90deg, #1956f0 0%, #3340c9 100%);
    content: "";
    height: 1.5px;
    left: 0;
    position: absolute;
    top: 36px;
    transition: 0.3s;
    width: 0%;
}


.content form .txt-field input:focus ~ label,
.content form .txt-field input:valid ~ label {
    top: -8px;
    color:#3b78f1
}

.content form .txt-field input:focus ~ span::before,
.content form .txt-field input:valid ~ span::before {
    width: 100%;
}


/* Estilo do date input */

.content form .date-field {
    margin: 50px 0px 0px -200px;
    width: 310px;
}


.date-label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #717171;
    margin-left: 5px;
    font-family: "Open Sans";
    font-style: normal;
    
}


.date-input {
    width: 100%;
    padding: 10px;
    border: none; 
    border-radius: 5px;
    font-size: 16px;
    background-color: #f2f2f2; 
    color: #515151; 
    
}


.date-input:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(12, 53, 81, 0.7); 
}

/* Estilo dropdown */

.content form .dropdown-field {
    margin: 50px 0px 0px -200px;
    width: 315px;
}


.content form .dropdown-field label {
    font-family: "Open Sans";
    font-style: normal;
    display: block;
    font-size: 14px;
    color: #717171;
    width: 410px;
    padding-bottom: 10px;
}


.content form .dropdown-field select {
    width: 100%;
    padding: 10px;
    border: 0.5px solid #454545;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f2f2f2;
    color: #000000;
}


.content form .dropdown-field select option {
    background-color: #f2f2f2;
    color: #333;
}

/* Estilo radio */

.radio-field label:first-child{
    font-family: "Open Sans";
    font-style: normal;
    display: block;
    font-size: 14px;
    color: #717171;
    width: 510px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.radio-field label:nth-child(2){
    margin-left: 10px;
}

.radio-field .radio-options input[type="radio"]{
    transform: scale(1.8);
    height: 10px;
    
}

.radio-field .radio-options{
    font-family: "Open Sans";
    font-style: normal;
    display: block;
    font-size: 14px;
    color: #2b2b2b;
}
.radio-field .radio-options div{
    padding: 10px;
}


#submit {
    background: linear-gradient(90deg, #eef1f5 100%, #e6e9f0 0%);
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    height: 40px;
    line-height: 20px;
    margin: 60px 95px 40px 95px;
    padding: 0px;
    width: 160px;
}

#submit:enabled {
    background: linear-gradient(90deg, #3b78f1 0%, #414dc7 100%);
    cursor: pointer;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(1px, 0, 0);
    }
  
    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }
  
    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

#submit:disabled:hover {
    animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    width: 100%;
}

footer span {
    color: #6c6c6c;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 4px;
}
