* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

header .logo {
    height: 120px;
    margin: 50px 0px 50px 20px;
}

/* Mensagem de erro */
.alert {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
    z-index: 9999;
  }
  
  .alertCheckbox {
    display: none;
  }
  
  :checked + .alert {
    display: none;
  }
  
  .alertText {
    display: table;
    margin: 0 auto;
    font-size: 16px;
    padding: 40px;
  }
  
  .alertClose {
    float: right;
    padding-top: 5px;
    font-size: 10px;
  }
  
  .clear {
    clear: both;
  }

  .error {
    background-color: #FEE;
    border: 1px solid #EDD;
    color: #A66;
  }

/* Perguntas e video */
.content {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    width: 850px;
}

.content h1 {
    color: #2974ff;
    font-family: "Open Sans";
    font-size: 50px;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-weight: 700;
    line-height: 41px;
    padding: 40px 127.5px 0px 127.5px;
}

#informative {
    color: #434343;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    padding: 40px 40px 0px 40px;
}

.content iframe {
    margin-left: 200px;
    padding-bottom: 60px;
    padding-top: 90px;
}
.content .question-topics{
    color: #3761f8;
    font-family: "Open Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    padding:30px;
    margin-left:40px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.content .module_completed {
    color: #2eb334;
    font-family: "Open Sans";
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;

}
.content form .questions{
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding-top: 40px;
    padding-left: 40px;
}

.content form .answers {
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    padding-top: 10px;
    margin-left: 60px;
}

.content form .answers input[type="radio"] {
    height: 10px;
    width: 20px;
    transform: scale(1.5);
}

.content hr {
    width: 520px;
    position: absolute;
    margin-top: 15px;
    margin-left: 165px;
}

.page-buttons{
    margin-top: 70px;
    padding: 20px

}
.page-buttons #previous-page, #next-page, #check {
    background: linear-gradient(90deg, #3b78f1 0%, #414dc7 100%);
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    height: 40px;
    padding: 7px;
    color:#f2f2f2;
    border: 1px solid #3b78f1;
    border-radius: 20px;
}


.page-buttons #previous-page {
    position: absolute;
    float: left;
}

.page-buttons #next-page {
    float: right;
}


.page-buttons #check {
    margin-left: 350px;
}
.page-buttons #previous-page:hover, #next-page:hover, #check:hover {
    background: linear-gradient(90deg, #175be3 0%, #2834b3 100%);
    border: 1px solid #414dc7;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(1px, 0, 0);
    }
  
    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }
  
    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

#submit:disabled:hover {
    animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    width: 100%;
}

footer span {
    color: #6c6c6c;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}

#extra-information {
    color: #6c6c6c;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    max-width: 300px;
    text-align: center;
    margin-left: 275px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 4px;
}

