* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

header .logo {
    height: 120px;
    margin: 50px 0px 50px 20px;
}

.content {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    width: 550px;
    padding: 60px;
}

.content p{
    color: #434343;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding: 40px 40px 0px 40px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    width: 100%;
}

footer span {
    color: #6c6c6c;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 4px;
}
