<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ url_for('static', filename='images/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/forms.css') }}">

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap");
    </style>

    <title>Inscrição Proa {{ year }}</title>
</head>
<body>
    <div>
        <header>
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
        </header>
        <div class="content">
            <h1>Processo Seletivo</h1>

            <form action="" method="post"> 

                <div class="txt-field">
                    <input type="text" id="username" name="username" onkeyup="verify()" required>
                    <span></span>
                    <label for="username">Nome</label>
                </div>

                <div class="txt-field">
                    <input type="text" id="surname" name="surname" onkeyup="verify()" required>
                    <span></span>
                    <label for="surname">Sobrenome</label>
                </div>

                <div class="txt-field">
                    <input type="text" id="email" name="email" onkeyup="verify()" required>
                    <span></span>
                    <label for="email">Endereço de Email</label>
                </div>

                <div class="txt-field">
                    <input type="password" id="password" name="password" onkeyup="verify()" required>
                    <span></span>
                    <label for="password">Senha</label>
                </div>

                <h1>Cadastro</h1>


                <div class="txt-field">
                    <input type="text" id="cpf" name="cpf" onkeyup="verify()" oninput="cpfChange(this.value)" required>
                    <span></span>
                    <label for="cpf">CPF</label>
                </div>

                <div class="txt-field">
                    <input type="input" id="whatsapp" name="whatsapp" onkeydown="whatsappFormat()" onkeyup="verify()" maxlength="15" required>
                    <span></span>
                    <label for="whatsapp">Whatsapp</label>
                </div>

                <div class="date-field">
                    <label for="date" class="date-label">Data de nascimento:</label>
                    <input type="date" id="date" class="date-input" oninput="verify()" required>
                </div>

                <div class="txt-field">
                    <input type="text" id="state" name="state" maxlength="2" style="text-transform:uppercase;" onkeyup="verify()" required >
                    <span></span>
                    <label for="state">Estado</label>
                </div>

                <div class="txt-field">
                    <input type="text" id="city" name="city" onkeyup="verify()" required>
                    <span></span>
                    <label for="city">Município</label>
                </div>

                <h1>Um pouco mais sobre você...</h1>

                <div class="dropdown-field">
                    <label for="school" id="school-label">Você está estudando ou concluiu o Ensino Médio em:</label>
                    <select id="school" name="school" onchange="verify()" required>
                        <option value="select">Escolher...</option>
                        <option value="public">Escola Pública</option>
                        <option value="private">Escola Particular</option>
                        <option value="private-scholarship">Escola Particular com bolsa de estudos</option>
                    </select>
                </div>

                <div class="dropdown-field">
                    <label for="school-level" id="school-level-label">Nível de Escolaridade:</label>
                    <select id="school-level" name="school-level" onchange="verify()" required>
                        <option value="select">Escolher...</option>
                        <option value="high-school">Cursando o 3º ano do Ensino Médio</option>
                        <option value="high-school-complete">Ensino Médio concluído</option>
                        <option value="high-school-not-studying">Ensino Médio concluído e não estudando</option>
                        <option value="college">Cursando o Ensino Superior</option>
                        <option value="college-complete">Ensino Superior concluído</option>
                    </select>
                </div>

                <div class="radio-field">
                    <label for="work_hours" id="work-label">Você trabalha? Se sim, quantas horas por semana?</label>
                    <div class="radio-options">
                        <div>
                            <input type="radio" id="work-1-10" name="work_hours" value="1-10" onchange="verify()" required>
                            <label for="work-1-10">1-10 horas</label>
                        </div>

                        <div>
                            <input type="radio" id="work-11-20" name="work_hours" value="11-20" onchange="verify()" required>
                            <label for="work-11-20">11-20 horas</label>
                        </div>
                
                        <div>
                            <input type="radio" id="work-21-30" name="work_hours" value="21-30" onchange="verify()" required>
                            <label for="work-21-30">21-30 horas</label>
                        </div>
                
                        <div>
                            <input type="radio" id="work-31+" name="work_hours" value="31+" onchange="verify()" required>
                            <label for="work-31+">Mais de 30 horas</label>
                        </div>

                    </div>
                </div>
                
                <div class="radio-field">
                    <label for="study_hours" id="study-label">Você estuda? Se sim, quantas horas por semana?</label>
                    <div class="radio-options">
                        <div>
                            <input type="radio" id="study-1-10" name="study_hours" value="1-10" onchange="verify()" required>
                            <label for="study-1-10">1-10 horas</label>
                        </div>
                
                        <div>
                            <input type="radio" id="study-11-20" name="study_hours" value="11-20" onchange="verify()" required>
                            <label for="study-11-20">11-20 horas</label>
                        </div>
                
                        <div>
                            <input type="radio" id="study-21-30" name="study_hours" value="21-30" onchange="verify()" required>
                            <label for="study-21-30">21-30 horas</label>
                        </div>
                
                        <div>
                            <input type="radio" id="study-31+" name="study_hours" value="31+" onchange="verify()" required>
                            <label for="study-31+">Mais de 30 horas</label>
                        </div>

                    </div>
                </div>
                
                <div class="radio-field">
                    <label for="daily_free_time" id="daily-time-label">Vale ressaltar que o curso vai demandar um tempo do seu dia para ser concluído. Quanto tempo livre você acredita ter no dia a dia?</label>
                    <div class="radio-options">
                        <div>
                            <input type="radio" id="daily-time-1-2" name="daily_free_time" value="1-2" onchange="verify()" required>
                            <label for="daily-time-1-2">1-2 horas</label>
                        </div>
                
                        <div>
                            <input type="radio" id="daily-time-3-4" name="daily_free_time" value="3-4" onchange="verify()" required>
                            <label for="daily-time-3-4">3-4 horas</label>
                        </div>
                
                        <div>
                            <input type="radio" id="daily-time-5+" name="daily_free_time" value="5+" onchange="verify()" required>
                            <label for="daily-time-5+">Mais de 5 horas</label>
                        </div>

                    </div>
                </div>
                
                <div class="radio-field">
                    <label for="marital_status" id="marital-status-label">Qual seu estado civil?</label>
                    <div class="radio-options">
                        <div>
                            <input type="radio" id="marital-status-single" name="marital_status" value="single" onchange="verify()" required>
                            <label for="marital-status-single">Solteiro(a)</label>
                        </div>
                
                        <div>
                            <input type="radio" id="marital-status-married" name="marital_status" value="married" onchange="verify()" required>
                            <label for="marital-status-married">Casado(a)</label>
                        </div>
                
                        <div>
                            <input type="radio" id="marital-status-divorced" name="marital_status" value="divorced" onchange="verify()" required>
                            <label for="marital-status-divorced">Divorciado(a)</label>
                        </div>
                
                        <div>
                            <input type="radio" id="marital-status-widowed" name="marital_status" value="widowed" onchange="verify()" required>
                            <label for="marital-status-widowed">Viúvo(a)</label>
                        </div>

                    </div>
                </div>
                
                <div class="radio-field">
                    <label for="has_children" id="children-label">Você possui filhos?</label>
                    <div class="radio-options">
                        <div>
                            <input type="radio" id="children-no" name="has_children" value="no" onchange="verify()" required>
                            <label for="children-no">Não</label>
                        </div>
                
                        <div>
                            <input type="radio" id="children-1" name="has_children" value="1" onchange="verify()" required>
                            <label for="children-1">Sim, 1 filho</label>
                        </div>
                
                        <div>
                            <input type="radio" id="children-2" name="has_children" value="2" onchange="verify()" required>
                            <label for="children-2">Sim, 2 filhos</label>
                        </div>
                
                        <div>
                            <input type="radio" id="children-2+" name="has_children" value="2+" onchange="verify()" required>
                            <label for="children-2+">Sim, mais de 2 filhos</label>
                        </div>

                    </div>
                </div>
                
                <div class="radio-field">
                    <label for="num_household_members" id="household-size-label">Mora com quantas pessoas em sua residência?</label>
                    <div class="radio-options">
                        <div>
                            <input type="radio" id="household-size-none" name="num_household_members" value="none" onchange="verify()" required>
                            <label for="household-size-none">Moro sozinho(a)</label>
                        </div>
                
                        <div>
                            <input type="radio" id="household-size-1-2" name="num_household_members" value="1-2" onchange="verify()" required>
                            <label for="household-size-1-2">1-2 pessoas</label>
                        </div>
                
                        <div>
                            <input type="radio" id="household-size-3-4" name="num_household_members" value="3-4" onchange="verify()" required>
                            <label for="household-size-3-4">3-4 pessoas</label>
                        </div>
                
                        <div>
                            <input type="radio" id="household-size-5+" name="num_household_members" value="5+" onchange="verify()" required>
                            <label for="household-size-5+">5 ou mais pessoas</label>
                        </div>

                    </div>
                </div>
                
                <div class="radio-field">
                    <label for="online_course_experience" id="online-courses-label">Já realizou algum tipo de cursos online?</label>
                    <div class="radio-options">
                        <div>
                            <input type="radio" id="online-courses-none" name="online_course_experience" value="none" onchange="verify()" required>
                            <label for="online-courses-none">Nenhum</label>
                        </div>
                
                        <div>
                            <input type="radio" id="online-courses-beginner" name="online_course_experience" value="beginner" onchange="verify()" required>
                            <label for="online-courses-beginner">Sim, iniciante</label>
                        </div>
                
                        <div>
                            <input type="radio" id="online-courses-intermediate" name="online_course_experience" value="intermediate" onchange="verify()" required>
                            <label for="online-courses-intermediate">Sim, intermediário</label>
                        </div>
                
                        <div>
                            <input type="radio" id="online-courses-advanced" name="online_course_experience" value="advanced" onchange="verify()" required>
                            <label for="online-courses-advanced">Sim, avançado</label>
                        </div>

                    </div>
                </div>
                
                <div class="radio-field">
                    <label for="stable_internet" id="internet-connection-label">Possui acesso a uma conexão estável de internet?</label>
                    <div class="radio-options">
                        <div>
                            <input type="radio" id="internet-connection-no" name="stable_internet" value="no" onchange="verify()" required>
                            <label for="internet-connection-no">Não</label>
                        </div>
                
                        <div>
                            <input type="radio" id="internet-connection-yes" name="stable_internet" value="yes" onchange="verify()" required>
                            <label for="internet-connection-yes">Sim</label>
                        </div>

                    </div>
                </div>
                
                <div class="radio-field">
                    <label for="job_timeline" id="employment-timeline-label">Quando pretende entrar no mercado de trabalho?</label>
                    <div class="radio-options">
                        <div>
                            <input type="radio" id="employment-timeline-none" name="job_timeline" value="none" onchange="verify()" required>
                            <label for="employment-timeline-none">Ainda não decidi</label>
                        </div>
                
                        <div>
                            <input type="radio" id="employment-timeline-immediately" name="job_timeline" value="immediately" onchange="verify()" required>
                            <label for="employment-timeline-immediately">Imediatamente após o curso</label>
                        </div>
                
                        <div>
                            <input type="radio" id="employment-timeline-within-6-months" name="job_timeline" value="within-6-months" onchange="verify()" required>
                            <label for="employment-timeline-within-6-months">Dentro de 6 meses</label>
                        </div>
                
                        <div>
                            <input type="radio" id="employment-timeline-more-than-6-months" name="job_timeline" value="more-than-6-months" onchange="verify()" required>
                            <label for="employment-timeline-more-than-6-months">Mais de 6 meses após o curso</label>
                        </div>

                    </div>
                </div>
                
                <div class="radio-field">
                    <label for="quiet_study_environment" id="study-environment-label">Você possui algum ambiente de estudo silencioso e sem distrações durante o período do curso?</label>
                    <div class="radio-options">
                        <div>
                            <input type="radio" id="study-environment-no" name="quiet_study_environment" value="no" onchange="verify()" required>
                            <label for="study-environment-no">Não</label>
                        </div>
                
                        <div>
                            <input type="radio" id="study-environment-yes" name="quiet_study_environment" value="yes" onchange="verify()" required>
                            <label for="study-environment-yes">Sim</label>
                        </div>

                    </div>
                </div>
                
                
                
                

                <input type="submit" id="submit" value="Próxima página" disabled>
            </form>
        </div>
        <footer>
            <span>Inscrição Proa – {{ year }} </span> 
        </footer>
        
    </div>

    <script>
        function verify() {
            var requiredFields = [
                "#username",
                "#surname",
                "#email",
                "#password",
                "#cpf",
                "#whatsapp",
                "#date",
                "#state",
                "#city",
                "#school",
                "#school-level",
                'input[type="radio"][name="work_hours"]:checked',
                'input[type="radio"][name="study_hours"]:checked',
                'input[type="radio"][name="daily_free_time"]:checked',
                'input[type="radio"][name="marital_status"]:checked',
                'input[type="radio"][name="has_children"]:checked',
                'input[type="radio"][name="num_household_members"]:checked',
                'input[type="radio"][name="online_course_experience"]:checked',
                'input[type="radio"][name="stable_internet"]:checked',
                'input[type="radio"][name="job_timeline"]:checked',
                'input[type="radio"][name="quiet_study_environment"]:checked'
            ];
            var allFieldsValid = true;
            for (var field of requiredFields) {

                if (document.querySelector(field) === null) {
                    allFieldsValid = false;
                    break;
                }

                var value = document.querySelector(field).value;
                if (document.querySelector(field).id === "school" || document.querySelector(field).id === "school-level") {

                    if (value === "select") {
                        allFieldsValid = false;
                        break;
                    }
                } else {
                    if (value.trim() === "") {
                        allFieldsValid = false;
                        break;
                    }
                }
            }

            document.getElementById("submit").disabled = !allFieldsValid;
        }



        // Open source code: https://codepen.io/Azametzin/pen/ERzgKW
        function cpfChange(cpfValue) {
            var numeric = cpfValue.replace(/[^0-9]+/g, '');
            var cpfLength = numeric.length;

            var partOne = numeric.slice(0, 3) + ".";
            var partTwo = numeric.slice(3, 6) + ".";
            var partThree = numeric.slice(6, 9) + "-";

            var cpfInput = document.getElementById("cpf"); // here is the CPF ID of the input

            if (cpfLength < 4) { 
                cpfInput.value = numeric;
            } else if (cpfLength >= 4 && cpfLength < 7) {
                var formatCPF = partOne +
                            numeric.slice(3);
                cpfInput.value = formatCPF;
            } else if (cpfLength >= 7 && cpfLength < 10) {
                var formatCPF = partOne +
                            partTwo +
                            numeric.slice(6);
                cpfInput.value = formatCPF;
            } else if (cpfLength >= 10 && cpfLength < 12) {
                var formatCPF = partOne +
                            partTwo +
                            partThree +
                            numeric.slice(9);
                cpfInput.value = formatCPF;
            } else if (cpfLength >= 12) {
                var formatCPF = partOne +
                            partTwo +
                            partThree +
                            numeric.slice(9, 11);
                cpfInput.value = formatCPF;
            }
        }

        // Open source code: https://codepen.io/tuliomarchetto/pen/eEYQoj
        function whatsappFormat() {
            var key = window.event.key;
            var element = window.event.target;
            var isAllowed = /\d|Backspace|Tab/;
            if(!isAllowed.test(key)) window.event.preventDefault();
            
            var inputValue = element.value;
            inputValue = inputValue.replace(/\D/g,'');
            inputValue = inputValue.replace(/(^\d{2})(\d)/,'($1) $2');
            inputValue = inputValue.replace(/(\d{4,5})(\d{4}$)/,'$1-$2');
            
            element.value = inputValue;
        }

        // Cor para a data
        const dateInput = document.getElementById('date');
        const dateLabel = document.querySelector('.date-label');

        dateInput.addEventListener('change', function () {
            if (dateInput.value) {
                dateLabel.style.color = '3b78f1';
            } else {
                return;
            }
        });

        // Cor para o dropdown dropdown
        const schoolInput = document.getElementById('school');
        const schoolLabel = document.getElementById('school-label');

        schoolInput.addEventListener('change', function () {
            if (schoolInput.value) {
                schoolLabel.style.color = '3b78f1';
            } else {
                return;
            }
        });

        const schoolLevelInput = document.getElementById('school-level');
        const schoolLevelLabel = document.getElementById('school-level-label');

        schoolLevelInput.addEventListener('change', function () {
            if (schoolLevelInput.value) {
                schoolLevelLabel.style.color = '3b78f1';
            } else {
                return;
            }
        });


    // Cor para os botões de radio
    var radioButtons = document.querySelectorAll('.radio-field input[type="radio"]');

    radioButtons.forEach(function (radio) {
        radio.addEventListener('change', function () {
            var container = this.closest('.radio-field'); // Get the container div
            var label = container.querySelector('label[for="' + this.name + '"]');
            
            if (this.checked) {
                label.style.color = '#3b78f1'; // Change the color of the question label
            }
        });
    });





    </script>
</body>
</html>
