<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap");
    </style>

    <title>Inscrição Proa {{ year }}</title>
</head>
<body>
    <div>
        <header>
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
        </header>
        <div class="content">
            <h1>Entrar</h1>

            <form action="" method="post">
                <div class="txt-field">
                    <input type="text" id="username" name="username" onkeyup="verify()" required>
                    <span></span>
                    <label for="username">usuário</label>
                </div>
                <div class="txt-field">
                    <input type="password" id="password" name="password" onkeyup="verify()" required>
                    <span></span>
                    <label for="password">senha</label>
                </div>
                <div class="forgot-password">
                    <a href="{{ url_for('forms') }}">Não possui cadastro?</a>
                </div>

                <input type="submit" id="submit" value="Login" disabled>
            </form>
        </div>
        <footer>
            <span>Inscrição Proa – {{ year }} </span> 
        </footer>

        <div id="extra-information"> <br>
            Vale ressaltar que está página de login 
            representa o modelo ideal do projeto.
            A fim de uma melhor demostração de tal, 
            não existe uma verificação do usuário, qualquer login e senha não serão válidos.
            Teste a plataforma iniciando um novo cadastro.
        </div>
        
    </div>

    <script>
        function verify() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            if (username.trim() === "" || password.trim() === "") 
                document.getElementById("submit").disabled = true; 
            else 
                document.getElementById("submit").disabled = false;
        }
    </script>
</body>
</html>
