<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/questions.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap");
    </style>

    <title>Inscrição Proa {{ year }}</title>
</head>
<body>
    <div>
        <header>
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
        </header>
        {% if error %}
            <label>
                <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                <div class="alert error">
                  <span class="alertClose">X</span>
                  <span class="alertText"><b style="font-size: 18px;">Tente Novamente!</b>
                    Infelizmente você não acertou todas as questões. Mas não se preocupe! Você
                    pode tentar quantas vezes quiser. Fique a vontade de ver o video apoio novamente!
                  <br class="clear"/></span>
                </div>
              </label>
        {% endif %}

        <div class="content">
            <h1>Módulo {{page_number}}</h1>

            {% if page_number == 1 %}

                <p id="informative">&emsp;&emsp;&emsp;Agora falta apenas <b style="color:rgb(252, 53, 53)">mais uma etapa</b> para finalizar sua inscrição no processo seletivo no Proa. A seguir você
                    deverá responder a um questionário contendo 4 módulos de 6 perguntas correspondentes a alguns tópicos que serão abordados
                    durante o curso. Você pode consultar o video apoio disponibilizado, e tentar quantas vezes forem necessárias, mas fique claro que
                    para a inscrição ser finalizada você deverá <b style="color:rgb(252, 53, 53)">acertar todas as questões de todos os módulos.</b> E não se preocupe caso precise sair da página,
                    pois suas respostas ficarão salvas e você poderá continuar de onde parou. Boa sorte! 
                </p>

            {% endif %}


                {% if page_number == 1 %}
                    <iframe src="https://www.youtube.com/embed/fFaQl8C4b4E" width="450" height="300" frameborder="0" allowfullscreen></iframe>
                    {% if modules_completed["1"] == True %}
                        <p class="module_completed">MÓDULO CONCLUÍDO</p>
                    {% endif %}
                    <p class="question-topics">Comunicação: </p>

                {% elif page_number == 2 %}
                    <iframe src="https://www.youtube.com/embed/XpP7ebpUgjc" width="450" height="300" frameborder="0" allowfullscreen></iframe>
                    {% if modules_completed["2"] == True %}
                        <p class="module_completed">MÓDULO CONCLUÍDO</p>
                    {% endif %}
                    <p class="question-topics">Logística: </p>

                {% elif page_number == 3 %}
                    <iframe src="https://www.youtube.com/embed/T78V2PeHb5Y" width="450" height="300" frameborder="0" allowfullscreen></iframe>
                    {% if modules_completed["3"] == True %}
                        <p class="module_completed">MÓDULO CONCLUÍDO</p>
                    {% endif %}
                    <p class="question-topics">Educação financeira: </p>
                    
                {% elif page_number == 4 %}
                    <iframe src="https://www.youtube.com/embed/l6JAqtqKQiQ" width="450" height="300" frameborder="0" allowfullscreen></iframe>
                    {% if modules_completed["4"] == True %}
                        <p class="module_completed">MÓDULO CONCLUÍDO</p>
                    {% endif %}
                    <p class="question-topics">Técnica de vendas: </p>
                {% endif %}

            <form action="" method="post">
                    {% if modules_completed[ page_number|string ] == True %}
                        {% set correct_value =  "checked disabled" %}
                        {% set wrong_value = "disabled" %}
                    {% else %}
                        {% set correct_value =  "" %}
                        {% set wrong_value = "" %}
                    {% endif %}

                    {% for key, values in questions.items() %}
                        {% set count = loop.index %}
                        <div class="questions">
                            <h4>{{count}}) {{ key }}</h4> <br>
                        </div>

                        {% for inner_key, inner_values in values.items() %}

                            <div class="answers">
                                {% if inner_key != "Resposta" %}
                                    {% if inner_key == correct_answers_list[count - 1] %}

                                        <input type="radio" name="question_{{count}}" value="correct" {{correct_value}} required>
                                        <label for="question_{{count}}">{{ inner_key }} &nbsp;{{inner_values}} <br></label>
                                    {% else %}
                                        <input type="radio" name="question_{{count}}" value="wrong" {{wrong_value}} required>
                                        <label for="question_{{count}}">{{ inner_key }} &nbsp;{{inner_values}} <br></label>
                                    {% endif %}

                                {% endif %}
                            </div>
                        {% endfor %}

                    <hr>
                    {% endfor %}

                <div class="page-buttons">

                    {% if page_number > 1 %}
                        <input type="submit" id="previous-page" name="previous-page" value="Página anterior">
                    {% endif %}

                    <input type="submit" id="check" name="check" value="Checar resposta">

                    {% if page_number < 4 %}
                        <input type="submit" id="next-page" name="next-page" value="Próxima página">
                    {% endif %}

                </div>
            </form>
        </div>
        <footer>
            <span>Inscrição Proa – {{ year }} </span> 
        </footer>
        <div id="extra-information"> <br>
            Para meios de testes as resposta corretas são: <br>
            {% for c in correct_answers_list %}
                <p style="display: inline;">{{loop.index}} ) {{ c[0] }}&nbsp;</p>
            {% endfor %}
        </div>
        
    </div>
</body>
</html>
