<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/subscription_completed.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap");
    </style>

    <title>Inscrição Proa {{ year }}</title>
</head>
<body>
    <div>
        <header>
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
        </header>
        <div class="content">
            <p>
                Agradecemos pela sua inscrição no nosso programa.<br>
                <strong style="color: rgb(115, 181, 15)">Inscrição realizada com sucesso!</strong><br>
                Estamos empolgados em tê-lo conosco e queremos mantê-lo atualizado sobre todos os desenvolvimentos.<br>
                Aguarde próximas notícias sobre o programa PS.<br>
                Você será notificado pelo <strong style="color:black">email</strong> fornecido assim que houver novidades.<br> <br>
                <strong style="color:black">Conte sempre conosco!</strong><br><br>
                Abraços, Equipe <strong style="color:black">Proa!!</strong>
            </p>
        </div>
        <footer>
            <span>Inscrição Proa – {{ year }} </span> 
        </footer>
        
    </div>

</body>
</html>
